@import 'tailwindcss';

@theme {
  /* Custom Break Points */
  --breakpoint-*: initial;
  --breakpoint-desktop-2xl: 2560px;
  --breakpoint-desktop-xl: 1920px;
  --breakpoint-desktop-lg: 1440px;
  --breakpoint-desktop: 1280px;

  /* Custom Color */
  --color-*: initial;
  --color-dark: #060505;
  --color-white: #fff;
  --color-red: #ac0505;
  --color-gray: #dfdede;
  --color-gray-100: #cccccc;
  --color-green: #5cb85c;

  /* Custom Fontsize */
  --text-*: initial;
  --text-xl: 25px;
  --text-lg: 20px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
  --text-2xs: 10px;
}
